<footer id="footer" class="footer bg-black">
    <div class="copyright text-light">
        &copy; Copyright <strong><span>Quiz Management System</span></strong>. All Rights Reserved
    </div>
    <div class="credits text-light">
        Designed by <a asp-controller="Home" asp-action="Index">Deven Machchhar</a>
    </div>
</footer>